# Details: https://help.github.com/en/articles/about-code-owners

# Default code owners
* @tanertopal @danieljanes

# README.md
README.md @jafermarq @tanertopal @danieljanes

# Flower Agent Docs
/agent @tanertopal @danieljanes @dstripelis @danielnugraha @charlesbvll

# Flower Baselines
/baselines @chongshenng @jafermarq @tanertopal @danieljanes

# Flower Benchmarks
/benchmarks @jafermarq @tanertopal @danieljanes

# Flower Datasets
/datasets @jafermarq @tanertopal @danieljanes

# Flower Examples
/examples @yan-gao-GY @panh99 @chongshenng @jafermarq @tanertopal @danieljanes

# Flower Framework
/framework/ @panh99 @tanertopal @danieljanes

# Changelog
/framework/docs/source/ref-changelog.md @jafermarq @panh99 @tanertopal @danieljanes
/framework/docs/source/changelog/ @jafermarq @panh99 @tanertopal @danieljanes
/framework/docs/source/_templates/shared-changelog.md @jafermarq @panh99 @tanertopal @danieljanes

# Translations
/framework/docs/locales @charlesbvll @panh99 @tanertopal @danieljanes

# GitHub Actions and Workflows
/.github/actions @tanertopal @danieljanes
/.github/workflows @tanertopal @danieljanes
/.github/workflows/datasets-e2e.yml @jafermarq @tanertopal @danieljanes
/.github/workflows/datasets-test.yml @jafermarq @tanertopal @danieljanes

# Docker-related files
**/*.Dockerfile @tanertopal @danieljanes
**/Dockerfile @tanertopal @danieljanes
/.devcontainer @tanertopal @danieljanes
/framework/docker @panh99 @tanertopal @danieljanes

# Flower `flwr` CLI
/framework/py/flwr/cli/ @jafermarq @panh99 @tanertopal @danieljanes
